[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
pyyaml = "*"
"boto3" = "*"
"psycopg2" = "*"


[dev-packages]



[requires]

python_version = "3.6"
